h1{
    text-align: center;
    background-color: bisque;
}

body{
    background-color: beige;
}

button{
    height: 24px;
    font-size: 16px;
    margin: 5px;
    border-radius: 6px;
    border: 10px;
    transition: ease-in-out 0.4s;
}

button:hover{
    color:darkslategray;
    background-color: rgb(212, 192, 126);
}

.info{
    background-color: bisque;
    text-align: center;
}

.intro_table{
    margin: auto;
    border-radius: 12px;
    border-style: dotted;
    border-width: 3px;
}